service devtitans.airquality-service /vendor/bin/hw/devtitans.airquality-service
        interface aidl devtitans.airquality.IAirQuality/default
        class hal
        user root
        group root
